@page
@model Acuedify.Pages.Playing.IndexModel

@{
	ViewData["Title"] = "Index";
}
@{
}

<head>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css">
</head>
<body>
	<div class="quiz-container">

		<div class="progress">
			<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 10%;"></div>
		</div>

		<div class="header-container">
			<div class="timer">
				<span id="timer">00:00</span>
			</div>
			<div class="quiz-info">
				<div class="title">
					Title: @Model.Details.Quiz.Title
				</div>
				<div class="description">
					Description: @Model.Details.Quiz.Description
				</div>
			</div>
			<div class="card-count">
				@(Model.Details.CurrentIndex + 1) / @Model.Details.Quiz.Questions.Count
			</div>
		</div>

		<div class="flashcard-container" id="flashcard-container">
			<partial name="_FlashcardContent" , model=Model/>
		</div>

		<div class="review">
			<div class="btn-correct">
				<a class="btn btn-outline-success btn-sm" id="correct-button">
					<svg width="16" height="16" viewBox="0 0 16 16">
						<use xlink:href="Icons/Icons.svg#icon-emoji-smile"></use>
					</svg>
					Correct
				</a>
			</div>
			<div class="btn-incorrect">
				<a class="btn btn-outline-danger btn-sm" id="incorrect-button">
					<svg width="16" height="16" viewBox="0 0 16 16">
						<use xlink:href="Icons/Icons.svg#icon-emoji-sad"></use>
					</svg>
					Incorrect
				</a>
			</div>

			@if (Model.Details.CurrentIndex < Model.Details.Quiz.Questions.Count - 1)
			{
				<div class="btn-next">
					<a class="btn btn-outline-primary btn-sm" id="next-button" asp-controller="Playing" asp-action="Index" asp-route-quizId="@Model.Details.Quiz.Id" asp-route-questionId="@(Model.Details.CurrentIndex + 1)">
						<svg width="16" height="16" viewBox="0 0 16 16">
							<use xlink:href="Icons/Icons.svg#icon-next"></use>
						</svg>
						Next
					</a>
				</div>
			}
			else
			{
				<div class="btn-back-to-library">
					<a class="btn btn-outline-primary btn-sm" id="back-to-library-button" asp-controller="Library" asp-action="Index">
						<svg width="16" height="16" viewBox="0 0 16 16">
							<use xlink:href="Icons/Icons.svg#icon-back"></use>
						</svg>
						Return to Library
					</a>
				</div>
			}
		</div>
	</div>
	<script>
		function rotateCard(card) {
			card.classList.toggle("flipped");
		}
	</script>
	<script>
		function updateProgressBar() {
			var currentQuestionIndex = @Model.Details.CurrentIndex;
			var totalQuestions = @Model.Details.Quiz.Questions.Count;

			var progress = ((currentQuestionIndex + 1) / totalQuestions) * 100;

			var progressBar = document.querySelector('.progress-bar');
			progressBar.style.width = progress + '%';
		}

		window.addEventListener('load', updateProgressBar);
	</script>
</body>
