@model IndexModel

@{

}

<head>
	<link rel="stylesheet" href="~/css/StyleSheetLibrary.css" />
</head>
<body>

	<div>
		<h4>Folders:</h4>
		@foreach (var folder in Model.Folders)
		{
			<div class="folder mb-4 mt-3">
				<a class="folder-link" data-toggle="collapse" href="#folder_@folder.Id" role="button" aria-expanded="false">
					<div class="folder-button">
						<i class="bi bi-folder" style="float: left; margin-right: 5px;"></i>
						<span style="text-decoration: none;">@folder.Name</span>
					</div>
				</a>
				@if (folder.Quizzes != null)
				{
					<div class="collapse" id="folder_@folder.Id">
						<table class="table table-striped">
							<thead>
								<tr>
									<th width="20%">Title</th>
									<th width="60%">Description</th>
									<th width="20%">Actions</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var quiz in folder.Quizzes)
								{
									if (quiz.FolderId != folder.Id) continue;
									<tr>
										<td>
											<div class="custom-div">
												<a asp-page="Index" asp-page-handler="ToggleFavorite" asp-route-id=@quiz.Id class="custom-link">
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star custom-icon @(quiz.isFavorite ? "favorite-star" : "not-favorite-star")" viewBox="0 0 16 16">
														<path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
													</svg>
												</a>
												<span class="text">@quiz.Title</span>
											</div>
										</td>
										<td>@quiz.Description</td>
										<td>
											<a asp-controller="Playing" asp-action="Index" asp-route-quizId="@quiz.Id" class="btn btn-outline-success btn-sm">
												<svg width="16" height="16" viewBox="0 0 16 16">
													<use xlink:href="Icons/Icons.svg#icon-play"></use>
												</svg>
											</a>
											<a asp-controller="Library" asp-action="Edit" asp-route-id=@quiz.Id class="btn btn-outline-primary btn-sm">
												<svg width="16" height="16" viewBox="0 0 16 16">
													<use xlink:href="Icons/Icons.svg#icon-edit"></use>
												</svg>
											</a>
											<a asp-page="DeleteQuiz" asp-route-id=@quiz.Id class="btn btn-outline-danger btn-sm">
												<svg width="16" height="16" viewBox="0 0 16 16">
													<use xlink:href="Icons/Icons.svg#icon-delete"></use>
												</svg>
											</a>
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				}

			</div>
		}
		<h4 class="mb-4 mt-3">Quizzes:</h4>
		<table class="table table-striped">
			<thead>
				<tr>
					<th width="20%">Title</th>
					<th width="60%">Description</th>
					<th width="20%">Actions</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var quiz in Model.Quizzes)
				{
					if (quiz.FolderId != null) continue;
					<!-- No dupes -->
					<tr>
						<td>
							<div class="custom-div">
								<a asp-controller="Library" asp-action="ToggleFavorite" asp-route-id=@quiz.Id class="custom-link">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star custom-icon @(quiz.isFavorite ? "favorite-star" : "not-favorite-star")" viewBox="0 0 16 16">
										<path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
									</svg>
								</a>
								<span class="text">@quiz.Title</span>
							</div>
						</td>
						<td>@quiz.Description</td>
						<td>
							<a asp-controller="Playing" asp-action="Index" asp-route-quizId=@quiz.Id asp-route-questionId=0 class="btn btn-outline-success btn-sm">
								<svg width="16" height="16" viewBox="0 0 16 16">
									<use xlink:href="Icons/Icons.svg#icon-play"></use>
								</svg>
							</a>
							<a asp-controller="Quizzes" asp-action="Edit" asp-route-id=@quiz.Id class="btn btn-outline-primary btn-sm">
								<svg width="16" height="16" viewBox="0 0 16 16">
									<use xlink:href="Icons/Icons.svg#icon-edit"></use>
								</svg>
							</a>
							<a asp-page="DeleteQuiz" asp-route-id=@quiz.Id class="btn btn-outline-danger btn-sm">
								<svg width="16" height="16" viewBox="0 0 16 16">
									<use xlink:href="Icons/Icons.svg#icon-delete"></use>
								</svg>
							</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>

	<script>
		// Save the current scroll position in local storage
		function saveScrollPosition() {
			const scrollPosition = window.scrollY;
			localStorage.setItem('scrollPosition', scrollPosition);
		}

		window.addEventListener('beforeunload', saveScrollPosition);
	</script>

	<script>
		// Retrieve the stored scroll position from local storage
		function retrieveScrollPosition() {
			return parseInt(localStorage.getItem('scrollPosition')) || 0;
		}

		const storedScrollPosition = retrieveScrollPosition();
		window.scrollTo(0, storedScrollPosition);
	</script>
</body>
