@model IndexModel

<head>
    <link rel="stylesheet" href="~/css/StyleSheetLibrary.css" />
</head>
<body>
    <div class="library-folders">
        @if (Model.Folders != null && Model.Folders.Any())
        {
            @foreach (var folder in Model.Folders)
            {

                <div class="folder-item mb-3">
                    <div class="folder-header" data-bs-toggle="collapse" data-bs-target="#folder_@folder.Id">
                        <span class="folder-icon"><i class="bi bi-folder"></i></span>
                        <span class="folder-name text">@folder.Name</span>
                        <a asp-page="/Folders/Edit" asp-route-folderId=@folder.Id class="edit-folder">
                            <svg width="16" height="16" viewBox="0 0 16 16">
                                <use xlink:href="Icons/Icons.svg#icon-edit"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="collapse folder-contents" id="folder_@folder.Id">
                        <!-- Contents of the folder (Quizzes) -->
                        @if (folder.Quizzes.Any())
                        {
                            <table class="table quizzes-table mt-2" style="border: 1px solid #0067ce;">

                                <thead>
                                    <tr>
                                        <th width="20%" class="text">Title</th>
                                        <th width="60%" class="text">Description</th>
                                        <th width="20%" class="text">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var quiz in folder.Quizzes)
                                    {
                                        <tr class="quiz-item">
                                            <td>
                                                <div class="custom-div">
                                                    <a href="#" class="custom-link toggle-favorite" data-id="@quiz.Id" data-isfavorite="@quiz.isFavorite">
                                                        <svg width="16" height="16" viewBox="0 0 16 16" class="bi bi-emoji-heart-eyes custom-icon @(quiz.isFavorite ? "favorite-heart" : "not-favorite-heart")">
                                                            <use xlink:href="Icons/Icons.svg#icon-heart" />
                                                        </svg>
                                                    </a>

                                                    <span class="text">@quiz.Title</span>
                                                </div>
                                            </td>
                                            <td class="text">@quiz.Description</td>
                                            <td>
                                                <a asp-page="/Playing/Index" asp-route-quizId="@quiz.Id" asp-route-questionId=0 class="btn btn-outline-success btn-sm">
                                                    <svg width="16" height="16" viewBox="0 0 16 16">
                                                        <use xlink:href="Icons/Icons.svg#icon-play"></use>
                                                    </svg>
                                                </a>
                                                <a asp-page="/Quizzes/Edit" asp-route-quizId=@quiz.Id class="btn btn-outline-primary btn-sm">
                                                    <svg width="16" height="16" viewBox="0 0 16 16">
                                                        <use xlink:href="Icons/Icons.svg#icon-edit"></use>
                                                    </svg>
                                                </a>
                                                <a asp-page="DeleteQuiz" asp-route-id=@quiz.Id class="btn btn-outline-danger btn-sm">
                                                    <svg width="16" height="16" viewBox="0 0 16 16">
                                                        <use xlink:href="Icons/Icons.svg#icon-delete"></use>
                                                    </svg>

                                                </a>
                                                <!-- Dropdown button for folder selection -->
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <svg width="16" height="16" viewBox="0 0 16 16">
                                                            <use xlink:href="Icons/Icons.svg#icon-folder"></use>
                                                        </svg>
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <a asp-page-handler="ToggleFolderChange" asp-route-quizId="@quiz.Id" class="dropdown-item not-in-folder">
                                                            <svg width="16" height="16" viewBox="0 0 16 16">
                                                                <use xlink:href="Icons/Icons.svg#icon-delete"></use>
                                                            </svg>
                                                            No Folder
                                                        </a>
                                                        @foreach (var otherFolder in Model.Folders.Where(f => f.Id != quiz.FolderId))
                                                        {
                                                            <a asp-page-handler="ToggleFolderChange" asp-route-quizId="@quiz.Id" asp-route-newFolderId="@otherFolder.Id" class="dropdown-item">
                                                                @otherFolder.Name
                                                            </a>
                                                        }
                                                    </div>
                                                </div>
                                                <!-- End Dropdown -->
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }

                    </div>
                </div>
            }
        }
    </div>
   

</body>




