@page
@model Acuedify.Pages.Questions.DetailsModel
@* @model Acuedify.Models.Question *@

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.question.Term)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.question.Term)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.question.Definition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.question.Definition)
        </dd>
        @* Fixx for id *@
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.question.QuizId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.question.QuizId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="Edit" asp-route-id="@Model?.question.Id">Edit</a> |
    <a asp-page="Index">Back to List</a>
</div>
