@page
@model Acuedify.Pages.Questions.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Questions</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Term
            </th>
            <th>
                Definition
            </th>
            <th>
                Quiz Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Questions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Term)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Definition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuizId) @* fix for name *@
                </td>
                <td>
                    <a asp-page="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="Details" asp-route-id="@item.Id">Details</a>|
                    <a asp-page="Delete" asp-route-id="@item.Id">Delete</a> @* Get icons *@
                </td>
            </tr>
        }
    </tbody>
</table>
