@model List<QQViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Questions</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Question.Term)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Question.Definition)
            </th>
            <th>
                Quiz Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (QQViewModel item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Question.Term)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question.Definition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quiz.Title)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Question.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Question.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Question.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
